apimoex
beautifulsoup4  
certifi          
chardet          
click            
colorama         
Flask            
idna             
itsdangerous     
Jinja2           
lxml             
MarkupSafe                    
numpy            
pandas           
pip              
pyTelegramBotAPI 
python-dateutil  
pytz             
regex            
requests         
setuptools       
six              
soupsieve        
urllib3          
Werkzeug         
wheel            
wincertstore     
xlrd             
